/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7f9;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-top: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #555;
}

/* Contenedor de la tabla */
.table-container {
    margin: 20px auto;
    max-width: 90%;
    overflow-x: auto; /* Mantén este estilo de desplazamiento */
}

/* Estilo del formulario */
form#form-transaccion {
    max-width: 800px;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.form-group .form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group .form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

button[type="submit"].btn {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    border: none;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"].btn:hover {
    background-color: #218838;
}

/* Estilo para el contenedor de detalles adicionales */
#detalle_proyecto {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }

    form#form-transaccion {
        width: 95%;
    }

    #detalle_proyecto {
        width: 95%;
    }
}